<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets App</title>
</head>
<body>
    <h1>This is My Pets App</h1>
    <h4>Please navigate through and check out all of the pets!</h4>

    <a href="link to all pets">see all pets?</a>
</body>
</html>